![](images/EscUpmPolit_p.gif "UPM")

# Course Notes for Learning Intelligent Systems

Department of Telematic Engineering Systems, Universidad Politécnica de Madrid, © 2018 Carlos A. Iglesias

## [Introduction to Data Visualization](0_Intro_Visualization.ipynb)

# Table of Contents

* [The Titanic dataset](#The-Titanic-dataset)
* [Reading Data](#Reading-Data)
* [Reading Data from a File](#Reading-Data-from-a-File)

# The Titanic dataset

In this session we will work with the Titanic dataset. This dataset is provided by [Kaggle](http://www.kaggle.com). Kaggle is a crowdsourcing platform that organizes competitions where researchers and companies post their data and users compete to obtain the best models.

![Titanic](images/titanic.jpg)


The main objective is predicting which passengers survived the sinking of the Titanic.

The data is available [here](https://www.kaggle.com/c/titanic/data). There are two files, one for training ([train.csv](files/data-titanic/train.csv)) and another file for testing [test.csv](files/data-titanic/test.csv). A local copy has been included in this notebook under the folder *data-titanic*.


Here follows a description of the variables.


| Variable | Description                       | Values                                           |
|----------|-----------------------------------|--------------------------------------------------|
| survival | Survival                          | (0 = No; 1 = Yes)                                |
| Pclass   | Passenger class                   | 1st = 1, 2nd = 2, 3rd = 3                        |
| Name     | Name                              |                                                  | 
| Sex      | Sex                               | male, female                                     |
| Age      | Age                               |                                                  |
| SibSp    | Number of Siblings/Spouses Aboard |                                                  |
| Parch    | Number of Parents/Children Aboard |                                                  |
| Ticket   | Ticket Number                     |                                                  |
| Fare     | Passenger Fare                    |                                                  |
| Cabin    | Cabin                             |                                                  |
| Embarked | Port of Embarkation               | (C = Cherbourg; Q = Queenstown; S = Southampton) |


The definitions used for SibSp and Parch are:
* *Sibling*: Brother, Sister, Stepbrother, or Stepsister of Passenger Aboard Titanic
* *Spouse*: Husband or Wife of Passenger Aboard Titanic (Mistresses and Fiances Ignored)
* *Parent*: Mother or Father of Passenger Aboard Titanic
* *Child*: Son, Daughter, Stepson, or Stepdaughter of Passenger Aboard Titanic

# Reading Data

In the previous dataset we load a bundle dataset in scikit-learn. In this notebook we are going to learn how to read from a file or a url using the Pandas library.

## Reading Data from a File

In [ ]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

df = pd.read_csv('data-titanic/train.csv')
df

In [ ]:
# we can get the number of samples and features
df.shape

In [10]:
#I can read only a number of rows and tell where the header is, among other options.
df = pd.read_csv('data-titanic/train.csv', header=0, nrows=5)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

Pandas provides methods for reading other formats, such as Excel (*read_excel()*), JSON (*read_json()*), or HTML (*read_html()*), look at the [documentation](http://pandas.pydata.org/pandas-docs/stable/api.html#input-output) for more details.

## Reading data from a URL

In [ ]:
import pandas as pd
#We get a URL with raw content (not HTML one)
url = "https://raw.githubusercontent.com/gsi-upm/dsss-2018/master/data-titanic/train.csv"
df = pd.read_csv(url)
df

An alternative option is reading the file with the library *requests* and then use *pandas*.

In [ ]:
# First we open the file
import pandas as pd
import io
import requests
url = "https://raw.githubusercontent.com/gsi-upm/dsss-2018/master/data-titanic/train.csv"
s = requests.get(url, stream=True).content
#Print the first 320 characters for understanding how it works
s[:320]

In [ ]:
df = pd.read_csv(io.StringIO(s.decode('utf-8')))
df

## References

* [Pandas API input-output](http://pandas.pydata.org/pandas-docs/stable/api.html#input-output)
* [Pandas API - pandas.read_csv](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html)
* [DataFrame](http://pandas.pydata.org/pandas-docs/stable/dsintro.html)
* [An introduction to NumPy and Scipy](http://www.engr.ucsb.edu/~shell/che210d/numpy.pdf)
* [NumPy tutorial](https://docs.scipy.org/doc/numpy-dev/user/quickstart.html)

## Licence

The notebook is freely licensed under under the [Creative Commons Attribution Share-Alike license](https://creativecommons.org/licenses/by/2.0/).  

© 2018 Carlos A. Iglesias, Universidad Politécnica de Madrid.